**/*.Publish.xml
**/*.suo
**/*.user
**/*.ReSharper 
**/*.ReSharper.user 
**/*.cache
**/_ReSharper.*/
**/temp/
**/obj/
**/Obj/
**/bin/
**/Bin/
/packages/
/backup/
**/Build/
**/Thumbs.db
**/*.bat
**/*.bak
**/*.log
/.vs/
/Scripts/


