a.school-link, a.school-link :visited {
    color: #4FB603 !important;
}

div.group-progress {
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 10px;
}

div.group-progress > div {
    background-color: #50C050;
    height: 10px;
}

/*gif banner*/

.banners2-gif{position:relative; height:290px; background:url("//cdn2.specialist.ru/Content/Image/Main/banner-test.gif") top center no-repeat;}

/* jquery.validate */
label.input-error-val { float: right; color: red; margin-top: 3px; vertical-align: top; border:none !important; }
.input-valid
{
	border: 1px solid LightGreen !important;
}
.input-error-val
{
	border: 1px solid #ff0000 !important;
}
h1 a, h1 a:link, h1 a:hover, h1 a:visited {
    color: #000066;
}
/*fancybox*/

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #ffffff;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('//cdn.specialist.ru/Content/Image/Common/fancybox2/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('//cdn.specialist.ru/Content/Image/Common/fancybox2/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('//cdn.specialist.ru/Content/Image/Common/fancybox2/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	/*background: url('//cdn.specialist.ru/Content/Image/Common/fancybox2/fancybox_overlay.png'); */
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('//cdn.specialist.ru/Content/Image/Common/fancybox2/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('//cdn.specialist.ru/Content/Image/Common/fancybox2/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/*mvc*/


.field-validation-error
{
	color: #ff0000;
}

.input-validation-error
{
	background-color: #ffeeee;
	border: 1px solid #ff0000 !important;
}

input[type="checkbox"].input-validation-error {
    outline: 1px solid #ff0000;
    outline-offset: 2px;
    
}

.input-error
{
	border: 1px solid #ff0000 !important;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}


/*autocomplete */

.autocomplete-w1 { background:url(//cdn.specialist.ru/Content/Image/Main/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.autocomplete_loading {
	background: url('//cdn.specialist.ru/Content/Image/Common/indicator.gif') right center no-repeat !important;
}

/* other */

a.discount_color:link, a.discount_color:hover, a.discount_color:visited
{
	color:#AC3D4B;
}

a.red, a.red:link, a.red:hover, a.red:visited
{
	color:#AC3D4B;
}


a.white, a.white:link, a.white:hover, a.white:visited
{
	color:#FFFFFF;
}

a.not-link, a.not-link:link, a.not-link:hover, a.not-link:visited
{
	border-bottom:1px dashed;
	text-decoration:none;
}

input.search_text{width:300px;}

strong.head_color 
{
	color:#012B50;   
}

h3.course-navigator a 
{
    margin-right:10px;
}

/*.link_block h4{font-size:13px; font-weight:bold; margin:0px;}
.link_block h4 a, .link_block h3 a:visited, .link_block h3 a:hover{color:#000066;} */

div.div-pointer
{
 cursor:help;
 color:#1458AE;
 display:inline;   
}

ul.test-answers 
{
    list-style-type:none;
}
ul.test-answers > li 
{
    cursor:pointer;
 margin:3px;
 padding:5px;
 width:90%;   
}

/* ajax-form */

form.ajax-form input 
{
    padding:3px;
    width:400px;
}
form.ajax-form input.date-picker
{
    padding:3px;
    width:200px;
}
form.ajax-form input[type="checkbox"]
{
    padding:3px;
    width:30px;
}

form.ajax-form select
{
    padding:3px;
    width:400px;
}
div.form-info
{
    padding:10px;
    width:400px;
}
div.form-error
{
    padding:10px;
    width:400px;
}

form.ajax-form textarea
{
    padding:3px;
    width:400px;
}
div.label-div 
{
    font-weight:bold;
    margin:5px 0;
}

/* test run*/

#mark-questions .ui-button-text {
    font-size: 10px;
    padding: 1px 3px; 
}
button.mark-button .ui-button-text {
    font-size: 12px;
    padding: 3px 3px; 
}

/* test server */
.border-test{
	border-right: 1px dashed #666666; width:500px; padding-left:1.5em; padding-right:1.5em;}
	
#stat-block {
	padding:1.5em;
}

#harder-tests {
	float:left;
	width:300px;
}


#easier-tests {
	float:left;
	width:300px;
	margin-right:3em;
}

.winner-list li {
	margin-bottom:0.5em;
}

.link_block4{overflow:hidden; /**/zoom:1;/**/ margin:25px 0;}
.link_block4 img{float:left;}
.link_block4 h3{font-size:15px; font-weight:bold; margin:0 20px 7px 80px;}
.link_block4 ul{margin:0 20px 0 80px; padding:0; font-size:12px;}
.link_block4 ul ul{margin:0 20px 0 20px; padding:0;}
.link_block4 li{list-style-type:square; margin:0.2em 1.2em; padding:0;}

.courses_5
{margin:0 32px -20px 32px; overflow:hidden; /**/zoom:1;/**/  height:170;}





/*other*/

.table tr.new-course td {
    background-color: #FCFADB;
}

.cart-table-head th {
    color: #006; font-weight:bold;
}

table.block-table td {
    text-align: left;
    vertical-align: top;
}

div.top-fixed {
    position:fixed;
    top: -3px;
    z-index: 999;
    left: 0;
    width: 100%;

}

.consultation-links img {
    vertical-align: middle; 
    margin-bottom: 2px;
}
#consultant-slide-panel {
    box-shadow: 5px 5px 5px #888888;
    background:repeat scroll 0 0 #fff; 
    border:1px solid #0066cc;
}

/*share42*/

#share42 a {margin-right:20px !important;}

/* siteheart */

.sh_top_buttons {
    border-left: none !important;
}
.sh_hico_close {
    display: none;
}

.ui-autocomplete {
    z-index: 200;
}


/* scroll top */
#scroll-top-button {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 0;
    display: none;
    text-indent: -9999px;
    background: url('//cdn.specialist.ru/Content/Image/main/scroll-top-button.png') no-repeat;
    cursor: pointer;
}