<connectionStrings>
	<add name="Specialist.Entities.Properties.Settings.PioneerConnectionString"
			connectionString="Data Source=pioneer.specialist.ru;Initial Catalog=SPECIALIST;User ID=SpecWebDataEditor;Password=ghjdbltw;MultipleActiveResultSets=True"
			providerName="System.Data.SqlClient" />
  <add name="Specialist.Entities.Properties.Settings.SPECREPL_replicatingConnectionString" connectionString="Data Source=apz004;Initial Catalog=SPECREPL_replicating;Persist Security Info=True;User ID=IUser;Password=asdQWE123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.PassportConnectionString" connectionString="Data Source=apz004;Initial Catalog=Passport;Persist Security Info=True;User ID=IUser;Password=asdQWE123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.SpecialistWebConnectionString" connectionString="Data Source=apz004;Initial Catalog=SpecialistWeb;Persist Security Info=True;User ID=IUser;Password=asdQWE123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.MaillistConnectionString"
           connectionString="Data Source=apz004;Initial Catalog=Maillist;Persist Security Info=True;User ID=iuser;Password=asdQWE123"
           providerName="System.Data.SqlClient" />
  <add name="Specialist.Entities.Properties.Settings.For_SECONDARYConnectionString"
         connectionString="Data Source=apz004;Initial Catalog=For_SECONDARY;Persist Security Info=True;User ID=IUser;Password=asdQWE123"
         providerName="System.Data.SqlClient" />
</connectionStrings>
