<connectionStrings>
  <add name="PioneerConnectionString" connectionString="data source=pioneer.specialist.ru;initial catalog=SPECIALIST;user id=SpecWebDataEditor;password=ghjdbltw;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.SPECREPL_replicatingConnectionString" connectionString="Data Source=MAIN-PC\SQLEXPRESS;Initial Catalog=SPECREPL_replicating;Persist Security Info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.PassportConnectionString" connectionString="Data Source=MAIN-PC\SQLEXPRESS;Initial Catalog=Passport;Persist Security Info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.SpecialistWebConnectionString" connectionString="Data Source=MAIN-PC\SQLEXPRESS;Initial Catalog=SpecialistWeb;Persist Security Info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.MaillistConnectionString"
           connectionString="Data Source=ssz001\sqlee;Initial Catalog=Maillist;Persist Security Info=True;User ID=iuser;Password=iamaguest"
           providerName="System.Data.SqlClient" />
</connectionStrings>