<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <system.web>
    <anonymousIdentification cookieless="UseCookies" enabled="false" />
    <sessionState cookieless="UseCookies"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Rss" duration="3600" varyByParam="None" varyByCustom="IsChrome"/>
        </outputCacheProfiles>
      </outputCacheSettings>

    </caching>
    <globalization uiCulture="ru" culture="ru-RU" />
    <httpRuntime requestValidationMode="2.0"
      maxRequestLength="10240" enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="/Page/Error">
      <error statusCode="404" redirect="/Page/NotFound" />
    </customErrors>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="~/Account/LogOn" timeout="999999" />
    </authentication>

    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq"/>
        <add namespace="System.Linq.Expressions"/>
        <add namespace="System.Data"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="Microsoft.Web.Mvc"/>
        <add namespace="Specialist.Web.Common.Html"/>
        <add namespace="SimpleUtils.Extension"/>
        <add namespace="Specialist.Web.Helpers"/>
        <add namespace="Specialist.Entities.Context"/>


      </namespaces>
    </pages>
    <httpModules>
      <add name="RedirectOrlUrls"
            type="MigrationUtils.Web.Handler.RedirectOrlUrlsModule, MigrationUtils" />
    </httpModules>
  </system.web>
  <connectionStrings configSource="connectionStrings.config" />

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.specialist.ru" port="25" userName="specialist\mailbot" password="1QaZ@wSx" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RedirectOrlUrls"
         type="MigrationUtils.Web.Handler.RedirectOrlUrlsModule, MigrationUtils" />

    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^specialist\.ru$"/>
          </conditions>
          <action type="Redirect" url="http://www.specialist.ru/{R:1}" />
        </rule>
        <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{HTTP_X_REQUESTED_WITH}" matchType="Pattern" pattern="XMLHttpRequest" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
  <security>
         <requestFiltering>
            <verbs applyToWebDAV="true">
<add verb="PROPFIND" allowed="false" />
<add verb="LOCK" allowed="false" />
            </verbs>
         </requestFiltering>
      </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc"
            publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>

