<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Specialist.Entities.Properties.Settings.TestsConnectionString"
            connectionString="Data Source=sql;Initial Catalog=Tests;User ID=ptolochko;Password=saoPRY"
            providerName="System.Data.SqlClient" />
        <add name="Specialist.Entities.Properties.Settings.SPECREPL_replicatingConnectionString"
            connectionString="Data Source=apz002;Initial Catalog=SPECREPL_replicating;Persist Security Info=True;User ID=IUser;Password=iamaguest"
            providerName="System.Data.SqlClient" />
        <add name="Specialist.Entities.Properties.Settings.PassportConnectionString"
            connectionString="Data Source=apz002;Initial Catalog=Passport;Persist Security Info=True;User ID=IUser;Password=iamaguest"
            providerName="System.Data.SqlClient" />
        <add name="Specialist.Entities.Properties.Settings.SpecialistWebConnectionString"
            connectionString="Data Source=apz002;Initial Catalog=SpecialistWeb;Persist Security Info=True;User ID=IUser;Password=iamaguest"
            providerName="System.Data.SqlClient" />
        <add name="Specialist.Entities.Properties.Settings.SPECIALISTConnectionString"
            connectionString="Data Source=apz002;Initial Catalog=SPECREPL_replicating;Persist Security Info=True;User ID=IUser;Password=iamaguest"
            providerName="System.Data.SqlClient" />
        <add name="Specialist.Entities.Properties.Settings.MaillistConnectionString"
            connectionString="Data Source=ssz001.dev\sqlee;Initial Catalog=Maillist;Persist Security Info=True;User ID=iuser;Password=iamaguest"
            providerName="System.Data.SqlClient" />
        <add name="Specialist.Entities.Properties.Settings.For_SECONDARYConnectionString"
            connectionString="Data Source=ssz001\sqlee;Initial Catalog=For_SECONDARY;Persist Security Info=True;User ID=IUser;Password=iamaguest"
            providerName="System.Data.SqlClient" />
        <add name="Specialist.Entities.Properties.Settings.PioneerConnectionString"
            connectionString="Data Source=pioneer.specialist.ru;Initial Catalog=SPECIALIST;User ID=SpecWebDataEditor;Password=ghjdbltw;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
