<connectionStrings>
  <add name="RealReplicatingConnectionString" connectionString="Data Source=ssz001.dev.specialist.ru\sqlee;Initial Catalog=SPECREPL_replicating;Persist Security Info=True;User ID=IUser;Password=iamaguest" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.SPECREPL_replicatingConnectionString" connectionString="data source=PIONEER;initial catalog=SPECIALIST;user id=SpecWebDataEditor;password=ghjdbltw" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.PassportConnectionString" connectionString="Data Source=ssz001.dev.specialist.ru\sqlee;Initial Catalog=Passport;Persist Security Info=True;User ID=IUser;Password=iamaguest" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.SpecialistWebConnectionString" connectionString="Data Source=ssz001.dev.specialist.ru\sqlee;Initial Catalog=SpecialistWeb;Persist Security Info=True;User ID=IUser;Password=iamaguest" providerName="System.Data.SqlClient"/>
  <add name="PioneerConnectionString" connectionString="data source=pioneer.specialist.ru;initial catalog=SPECIALIST;user id=SpecWebDataEditor;password=ghjdbltw;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
</connectionStrings>