<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Specialist.Web.WinService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Specialist.Web.WinService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Specialist.Web.WinService.Properties.Settings>
            <setting name="CmsUrl" serializeAs="String">
                <value>http://localhost:52806</value>
            </setting>
            <setting name="EmailList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ptolochko@specialist.ru</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Specialist.Web.WinService.Properties.Settings>
        <Specialist.Web.WinService.Settings>
            <setting name="CmsUrl" serializeAs="String">
                <value>http://localhost:52806</value>
            </setting>
        </Specialist.Web.WinService.Settings>
    </applicationSettings>
  <connectionStrings>
    <add name="RealReplicatingConnectionString" connectionString="Data Source=ssz001\sqlee;Initial Catalog=SPECREPL_replicating;Persist Security Info=True;User ID=IUser;Password=iamaguest" providerName="System.Data.SqlClient"/>
    <add name="Specialist.Entities.Properties.Settings.SPECREPL_replicatingConnectionString" connectionString="data source=PIONEER;initial catalog=SPECIALIST;user id=SpecWebDataEditor;password=ghjdbltw" providerName="System.Data.SqlClient"/>
    <add name="Specialist.Entities.Properties.Settings.PassportConnectionString" connectionString="Data Source=ssz001\sqlee;Initial Catalog=Passport;Persist Security Info=True;User ID=IUser;Password=iamaguest" providerName="System.Data.SqlClient"/>
    <add name="Specialist.Entities.Properties.Settings.SpecialistWebConnectionString" connectionString="Data Source=ssz001\sqlee;Initial Catalog=SpecialistWeb;Persist Security Info=True;User ID=IUser;Password=iamaguest" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="germes.specialist.ru" port="25" userName="news" password="&gt;98rJ0CX!8"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>