<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<targets>
		<target name="file" xsi:type="File" fileName="${basedir}/log.txt"
			layout="${longdate} ${message}" />
		<target name="mail" xsi:type="Mail" 
			subject="Service error"
			to="ptolochko@specialist.ru"
			from="bug@specialist.ru"
			layout="${longdate} ${message} ${exception:format=Type,Method,Message,StackTrace,ToString}" />
    <target name="infoMail" xsi:type="Mail"
			subject="Service info"
			to="ptolochko@specialist.ru"
			from="bug@specialist.ru"
			layout="${longdate} ${message}" />
	</targets>
	<rules>
		<logger name="*" level="Error" writeTo="file,mail" />
		<logger name="*" level="Info" writeTo="infoMail" />
	</rules>
</nlog>
