<?xml version="1.0"?>
<configuration>
<connectionStrings>
  <add name="Specialist.Entities.Properties.Settings.SPECREPL_replicatingConnectionString" connectionString="Data Source=ssz001\sqlee;Initial Catalog=SPECREPL_replicating;Persist Security Info=True;User ID=IUser;Password=iamaguest;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.PassportConnectionString" connectionString="Data Source=ssz001\sqlee;Initial Catalog=Passport;Persist Security Info=True;User ID=IUser;Password=iamaguest;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.SpecialistWebConnectionString" connectionString="Data Source=ssz001\sqlee;Initial Catalog=SpecialistWeb;Persist Security Info=True;User ID=IUser;Password=iamaguest;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  <add name="Specialist.Entities.Properties.Settings.MaillistConnectionString" connectionString="Data Source=ssz001\sqlee;Initial Catalog=Maillist;Persist Security Info=True;User ID=iuser;Password=iamaguest" providerName="System.Data.SqlClient"/>
</connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="germes.specialist.ru" port="25" userName="news" password="&gt;98rJ0CX!8"/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
